#container{
	background-color: green;
}
#div-2{
	width: auto;
	height: auto;
	display: flex;
}
h1{
	font-weight: bold;
}
img{
	border-radius: 50;
}
h1{
	font-weight: bold;
	text-decoration: underline;
}