*{
 padding:15px;
 margin:0;
}

nav{
 background-color:aqua;
 padding: 15px;
 }

 ul{

 }

 li{
 float:left;
 padding:10px;
 list-style-type: none;
}
.logo{
 width:100px;
 height:100px;
 float:right;
 padding-right:50px;
 }
 .first-section{
 font-size:35px
 padding-top:50px;
 background-size:cover;
 background-image:url(Images/Tani1.jfif);
 height:380px;
 position:relative;
 background-position:center center;
 }
 .first-section p{
 padding-top:160px;
 }
a{
 text-decoration:none;
 color:white
 }
 a:hover{
 color yellow;
 background -color:*00;
 }
 .footer a{
 padding-top:15px;
 maryin-top:0;

 }
 .footer{
    background-color: blue;
    margin-bottom: 0;

 }

span{
    color: white;
} 
 

